<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex无间隙居中</title>
    <style>

        .parent {
            border: 1px solid red;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }

        span {
            border: 1px solid green;
        }

    </style>
</head>
<body>
<div class="parent">
    <span>确定</span>
    <span>取消</span>
</div>
</body>
</html>